
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://imageresizer.static9.net.au/NzJ7oBU3G7O68jCxihefvyWFwxo=/1200x0/http%3A%2F%2Fprod.static9.net.au%2F_%2Fmedia%2F2018%2F06%2F12%2F15%2F16%2FTop-10-most-expensive-beaches-in-the-world.jpg);">
  <div class="container">
    <h1>Have a break-<strong> rent a beach</strong>!</h1>
    <p>Change your routine and get an organic tan with one of our beaches around the world.</p>
    <%= form_tag beaches_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a Beach"
  %>

           <%= submit_tag "Search now", class:"btn btn-flat"  %>

<% end %>

  </div>
</div>

<div class="container">
  <div class="row">
   <% @beaches.each do |beach| %>
    <div class="col-xs-12 col-md-4">
      <div class="card-trip">
        <img src= <%= beach.photo %> />
          <div class="card-trip-infos">
           <h2><%= beach.name %></h2>
           <p><%= beach.description %></p>
            <div class="price-info">
           <strong>Rent per day:</strong>
           <p><%= beach.rent_per_day %>€</p>
            </div>
          </div>
    <%= link_to "", beach_path(beach), class: "card-link"%>
      </div>
    </div>
  <% end %>
  </div>
</div>






