  <div class="card-product">
  <img src= <%= @beach.photo %> />
  <div class="card-product-infos">

 <p> <strong>Name:</strong>
  <%= @beach.name %></p>

 <p> <strong>Description:</strong>
 <%= @beach.description %></p>

 <p> <strong>Location:</strong>
 <%= @beach.location %></p>

 <p> <strong>Rent per day:</strong>
 <%= @beach.rent_per_day %></p>

  </div>
</div>








