
<div class="container">
  <div class="row">
    <div class="card-product">
      <div class="col-xs-12 col-md-4">
        <div class ="card-product img">
        <img src= <%= @beach.photo %> />
        </div>
      </div>

    <div class="col-xs-12 col-md-4">
      <div class="card-product-infos">

        <h1><strong> <%= @beach.name %></h1></strong>

         <p><%= @beach.description %></p>

         <p> <strong>Location:</strong>
         <%= @beach.location %></p>

         <p> <strong>Rent per day:</strong>
         <%= @beach.rent_per_day %> €</p>
      </div>
    </div>

      <div class="col-xs-12 col-md-4">
        <h1>Book your beach at:</h1>
        <%= @beach.name %></p>

          <%= simple_form_for [@beach, @booking] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit "Book me now", class: "btn btn-warning" %>
          <%= link_to 'Go back', beaches_path, class: "btn btn-warning"   %>
          <% end %>
      </div>
    </div>
  </div>
</div>











